@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --my-color:rgb(255, 255, 255);

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #d79237;
    --foreground: #ededed;
    --my-color:rgb(255, 255, 255);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  main{
    .my-special {
        background-color: var(--my-color);
        box-shadow: #100c0c;
    }
  }
}
